<h1>conditional functions</h1>

<form action="home/extensions" method="post">
  check if blank - <input type="text" name="blank?"> <br>
  check if empty - <input type="text" name="empty?"> <br>
  check if presents - <input type="text" name="present?"> <br><br>
  check if duplicable - <input type="text" name="duplicable?"> <br><br>
  presence - <input type="text" name="presence"> <br><br>
  deep dup - <input type="text" name="deep_dup"> <br><br>
  check if html safe - <input type="text" name="html_safe?"> <br><br>
  <input type="submit" value="submit" />
</form>

<h1>custom calculations</h1>

<form action="home/custom_calculations" method="post">
  using try...next - <input type="text" name="next"> <br>
  check if number is in (30..50) - <input type="text" name="number"> <br>
  remove vowels - <input type="text" name="remove"> <br>
  squish string ugly spaces - <input type="text" name="squish"> <br>
  truncate by letters - <input type="text" name="truncate"> <br>
  truncate by words - <input type="text" name="truncate_words"> <br>
  string to function - <input type="text" name="inquiry"> <br>
  check if starts with a - <input type="text" name="starts_with"> <br>
  position at 4 - <input type="text" name="position_at"> <br>
  position from 6 - <input type="text" name="position_from"> <br>
  position to 6 - <input type="text" name="position_to"> <br>
  get first 5 letters - <input type="text" name="first_letters"> <br>
  get last 5 letters - <input type="text" name="last_letters"> <br>
  pluralize word - <input type="text" name="pluralize"> <br>
  singularize word - <input type="text" name="singularize"> <br>
  camelize word - <input type="text" name="camelize"> <br>
  underscore word - <input type="text" name="underscore"> <br>
  titleize word - <input type="text" name="titleize"> <br>
  dasherize word - <input type="text" name="dasherize"> <br>
  parameterize word - <input type="text" name="parameterize"> <br>
  tableize word - <input type="text" name="tableize"> <br>
  classify word - <input type="text" name="classify"> <br>
  put constant word here - <input type="text" name="constantize"> <br>
  humanize word - <input type="text" name="humanize"> <br>
  convert to foreign key - <input type="text" name="foreign_key"> <br>

  <input type="submit" value="submit" />
</form>