<h1>successfully redirected here</h1>

<form action="home/extensions" method="post">
  check if blank - <input type="text" name="blank?"> <br>
  check if empty - <input type="text" name="empty?"> <br>
  check if presents - <input type="text" name="present?"> <br><br>
  check if duplicable - <input type="text" name="duplicable?"> <br><br>
  <input type="submit" value="submit" />
</form>